*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid yellow; */
}

body {
  background-color: rgb(13, 19, 20);
  color: rgb(216, 216, 216);
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
main {
  display: flex;
  height: 100vh;
}

h1 {
  font-size: 2.625em;
  line-height: 1.55;
  font-weight: 900;
}

h2 {
  font-size: 2em;
  line-height: 1.58;
  font-weight: 900;
}

h3 {
  font-size: 1.625em;
  line-height: 1.62;
  font-weight: 900;
}

h4 {
  font-size: 1.25em;
  line-height: 1.65;
  font-weight: 900;
}

h5 {
  font-size: 1em;
  line-height: 1.65;
  font-weight: 700;
}

textarea {
  background: transparent;
  color: rgb(156, 156, 156);
  resize: none;
  border: none;
  outline: none;
  appearance: none;
}
ul {
  padding: 0 30px;
}
.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;

}


.text-area {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 3px solid rgb(211, 211, 211);
}
.preview {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 10px;
  line-height: 26px;
  border: 3px solid rgb(211, 211, 211);
}

.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label {
  margin-right: 5px;
}
.styled-select {
  width: 150px;
  border-radius: 5px;
  border: 2px solid;
  background-color: transparent;
  padding: 5px;
  color: #e2e2e2;
  cursor: pointer;
}
.styled-select option {
  font-size: 14px;
  background-color: rgb(13, 19, 20);
  color: #a3a3a3;
  cursor: pointer;
  padding: 10px;
}
button {
  background-color: rgb(204, 204, 204);
  font-size: 12px;
  border-radius: 10px;
  font-weight: 600;
  padding: 5px;
  width: 80px;
  cursor: pointer;
  color: black;
}
button:hover {
  background-color: aquamarine;
  color: black;
  border-color: aquamarine;
}

@media (min-width: 900px) {
  main {
    flex-direction: row;
  }
}

p {
  margin: 0 0 1.3rem;
}
